<h1>It is {{timeOfDay}} of Day {{day}}</h1>
<h2>Block {{timeblock}}</h2>
<div class="">
    <button type="button" ng-click="pause()">Pause</button>
    <button type="button" ng-click="resume()">Resume</button>
</div>
<div id="cards">
    <div class="card" ng-repeat="card in cards">
        <h4>{{card.name}}</h4>
        <p>{{card.desc}} </p>

        <p>
            cogchange: {{card.cogchange}} <br>
            physchange: {{card.physchange}} <br>
            psychange: {{card.psychange}}
        </p>

    </div>
</div>
<div id="crewstats">
    <div class="crew" ng-repeat="crew in crewmembers">
        <h4>{{crew.name}}</h4>
        <hr>
        <div>
            <p>Cognitive Health: {{crew.coghp}} </p>
            <p>Physical Health: {{crew.physhp}} </p>
            <p>Psychological Health: {{crew.psyhp}}</p>
            <p ng-hide="crew.busy" style="color:green">Status: Free</p>
            <p ng-show="crew.busy" style="color:red">Status: Busy</p>
            <div ng-show="crew.busy">
                <p>Current Task: {{crew.currentTask}}</p>
                <p>Time blocks left: {{crew.taskTimeLeft}}</p>
            </div>
        </div>

    </div>
</div>
<div id="assignments">
    <p>Assign a crew member for card:</p>
    <div class="card">
        <h4>{{cards[cardInd].name}}</h4>
        <p>{{cards[cardInd].desc}} </p>

        <p>
            cogchange: {{cards[cardInd].cogchange}} <br>
            physchange: {{cards[cardInd].physchange}} <br>
            psychange: {{cards[cardInd].psychange}}
        </p>
    </div>
    <select ng-model="selectedcrew" ng-options="crew.name for crew in availableCrew">
        <option value="" disabled>--Select--</option>
    </select>
    <button type="button" ng-click="assign(selectedcrew)">Assign</button>
</div>
