<h1>It is {{timeOfDay}} of Day {{day}}</h1>
<h2>Block {{timeblock}}</h2>
<div class="">
    <button type="button" ng-click="pause()">Pause</button>
    <button type="button" ng-click="resume()">Resume</button>
</div>
<div id="crewstats">
    <div class="crew" ng-repeat="crew in crewmembers">
        <h4>{{crew.name}}</h4>
        <hr>
        <div>
            <p>Cognitive Health: {{crew.coghp}} </p>
            <p>Physical Health: {{crew.physhp}} </p>
            <p>Psychological Health: {{crew.psyhp}}</p>
            <p ng-hide="crew.busy" style="color:green">Status: Free</p>
            <p ng-show="crew.busy" style="color:red">Status: Busy</p>
            <div ng-show="crew.busy">
                <p>Current Task: {{crew.currentTask}}</p>
                <p>Time blocks left: {{crew.taskTimeLeft}}</p>
            </div>
        </div>

    </div>
</div>
<div id="assignments">
    <p>Assign a crew member for card:</p>
    <div class="card" ng-repeat="card in cards track by $index">
        <h4>{{card.name}}</h4>
        <p>{{card.desc}} </p>

        <div>
            <p>cogchange: {{card.cogchange}} </p>
            <p>physchange: {{card.physchange}}</p>
            <p>psychange: {{card.psychange}}</p>
            <p>Blocks: {{card.blocks}}</p>
        </div>
        <select ng-model="selectedcrew" ng-options="crew.name for crew in crewmembers">
            <option value="" disabled>--Select--</option>
        </select>
        <button type="button" ng-click="assign(selectedcrew, $index)">Assign</button>
    </div>
</div>
