.card{
    display: inline-block;
    margin: 10px;
    border: thin solid;
    width: 200px;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: top;
}

.card h4{
    text-align: center;
}

#crewstats{
    vertical-align: top;
    width: 20%;
    display: inline-block;
}

#cards{
    vertical-align: top;
    display: inline-block;
    width: 75%;
}

.crew{
}
